body {
    background-color: hsl(0, 100%, 15%);
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: #ffffff;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(0, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-size: 200%;
    text-decoration: underline;
}

h3 {
    background-color: hsl(0, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-size: 130%;
    font-style: italic;
}

p {
    background-color: hsl(204, 100%, 85%);
}

em {
    color: hsl(0, 0%, 0%);
    font-style: normal;
    font-weight: bold;
}

strong {
    color: hsl(0, 0%, 0%);
    font-weight: normal;
    font-weight: bold
}

address {
    background-color: hsl(0, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    text-align: right;
}